name: Build & Publish Android Artifacts

on:
  push:
    paths:
      - 'android/**'
      - 'core/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check
      uses: actions/checkout@v3
    - name: Setup JDK 11
      uses: actions/setup-java@v3.4.1
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'gradle'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2.3.2
      with:
        gradle-version: 7.5.1
    - name: Build Gradle
      run: gradle :android:build
    - name: Publish Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: buildAPK
        path: ${{github.workspace}}/android/build/outputs/apk/release/android-release.apk
